@{
    ViewBag.Title = "О компании";
}

<h2>О программе</h2>
<p>
    Пробная версия сайта для команды 2.
</p>
<h2>Команда разработки:</h2>
<p>Сергей Шебанин</p>
<p>Елисеев Роман</p>
<p>Юкнайте Виктория</p>
<p>Галонска Анна</p>
<p>Митрошин Анатолий</p>
<p>Говоров Алексей</p>
<p>Звонцова Марина</p>
<p>Паршин Павел</p>
<p>Абдурахманов Амир</p>
