/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html,body{
    
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    color: #000;
}

.wrap {
    position:relative;
	
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active {
    color: #c0c0c0;
}

p, ul {
    margin-bottom: 0;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    margin-left: auto;
    margin-right: auto;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #C0C0C0;
}

#main {
    padding-right:10px;
    text-align: center;
    background-size:100%;
}


 
#footer {
    width: 100%;
    /*position:absolute;
    bottom:0;
    clear:both;*/
    text-align:right;

}

/* TAB MENU   
----------------------------------------------------------*/

ul#menu {
    padding: 0;
    margin: 0;
}

ul#menu li {
    margin-left:-5px;
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.76);
    
    color: #000;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

ul#menu li a:hover {
    background-color: #82785c;
    background-color: rgba(130, 120, 92, 0.5);
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #696969;
    background-color: rgba(105, 105, 105, 0.76);
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #C0C0C0;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 0 solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 85px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/



.error {
    color: Red;
}


#menucontainer, #mainblock {
    width: 100%;
    border: 0 solid black;
    border-spacing: 2px;
}

#menucontainer td, #mainblock td {
  
    border: 0;
    padding: 0;
    vertical-align: text-bottom;
}

#menucontainer .spacer {
    width: 5%;
    border-bottom: 2px #000000 solid;
}

#menucontainer .header {
    width: 20%;
    vertical-align: text-bottom;
    font-size: 5em;
    color: #8b1a1a;
    position: relative;
    bottom: -.26em;

}


#menucontainer .menu {
    border-bottom: 2px #000 solid;
}


div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    text-align: right;
    margin: 0;
}

#logindisplay a {
    margin-left:0;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #c0c0c0;
    background-color: rgba(192, 192, 192, 0.76);
    
    color: black;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#logindisplay a:visited {
    color: black;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: black;
    text-decoration: none;
}

/* Board styles */

table#board  {
    
    border-spacing: 1px;
    border-collapse: separate;
}

#board tr {
    height: 50px;
}

#board td {
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

#board td.selected {
    border: 4px solid red !important;
}


#board td[id] {
    border: 4px solid black;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
/* Profile
----------------------------------------------------------*/

.prof {
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0px 0px;
    
    margin-top:10px;
    
    width:20%;
    background-color:#796a6a;
    background-color:rgba(121, 106, 106, 0.61);
    text-align:center;
    font-size:large;    
}

.profend {
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    
    margin-top:-20px;
    
    width:20%;
    background-color:#796a6a;
    background-color:rgba(121, 106, 106, 0.61);
    text-align:center;
    font-size:large;
}

.profMenu {
    
    width:20%;
    margin-top:-20px;
    background-color:#9d7979;
    background-color:rgba(157, 121, 121, 1);
    text-align:left;
    font-size:large;    
}

.profMenu ul {
    margin-left:-40px;
    text-align:left;
    text-decoration:none;
}

.profMenu ul li {
    text-align:left;
    list-style:none;
    text-decoration:none;

}
.profMenu ul li:hover {
    background-color:#1d60ff;
    background-color:rgba(29, 96, 255, 0.71);
    color:white;
    text-decoration:none;
}

.profMenu ul li a{
    margin-left:5px;
    color:white;
    text-decoration:none;

}

.profMenu ul li a:active{
    
    color:white;
    text-decoration:none;

}
