<script src="@Url.Content("~/Scripts/FindGame.js")" type="text/javascript"></script>

<div id="dialogWaitingOpponent" title="" style="display: none; text-align: center;">
    <h2>Ожидание Противника...</h2>
    <button id="buttonCancel">Отмена</button>
</div>