@model IEnumerable<string>
@using ChestClient.Controllers;

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>
            Список пользователей Online
        </h1>
        <ul>
        @foreach(var elm in Model) {
            <li>@elm</li>
        }
        </ul>
    </div>
</body>
</html>
