@model IEnumerable<string>
@using ChestClient.Controllers;

@{
    ViewBag.Title = "Список Пользователей";
}

    <div>
        <h1>
            Список пользователей Online
        </h1>
        <ul>
        @foreach(var elm in Model) {
            <li>@elm</li>
        }
        </ul>
    </div>


