@model ChestClient.Models.UserModel

<!DOCTYPE html>

<html>
<head>
    <title>ViewPage1</title>
</head>
<body>
    @using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Имя игрока</legend>
            @Html.TextBoxFor(m => m.UserName)
            <input type="submit" />
        </fieldset>
    </div>
    }
</body>
</html>
